# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.idea/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.metadata
.packages
.project
.settings/
.vscode/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
linux/flutter/ephemeral
macos/flutter/ephemeral
windows/flutter/ephemeral
/android/app/src/main/assets/flutter_assets/

# Android
/android/app/build/
/android/build/
/android/.gradle/
/android/gradle/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/.idea/
/android/app/google-services.json

# iOS
/ios/build/
/ios/Pods/
/ios/Runner.xcworkspace
/ios/Runner.xcodeproj/project.xcworkspace/
/ios/Runner.xcodeproj/xcuserdata/
/ios/Flutter/Debug.xcconfig
/ios/Flutter/Release.xcconfig
